<!-- 
        - #HERO
      -->

      <section class="hero text-center" aria-label="home" id="home">

        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/slider/slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">Integración sin Fronteras</p>

            <h1 class="display-1 hero-title slider-reveal">
              Desarrollo Adaptativo e Integración de Software
              <!-- For the love of <br>
              delicious food -->
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Uniendo sistemas y tecnologías para una eficiencia sin límites.
            </p>

            <div class="credits slider-reveal">
              <span class="developer slider-reveal"><i><b>Desarrollador:</b></i> Anthony Cristhian Avellaneda Paitán 👨🏻‍💻</span>
              <span class="teacher slider-reveal"><i><b>Docente:</b></i> Carlos Alberto Janjachi Toribio 👨🏻‍🏫</span>
            </div>

            <a routerLink="/blog" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Blog</span>

              <span class="text text-2" aria-hidden="true">View Our Blog</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/slider/slider-2.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">Evolución Continua</p>

            <h1 class="display-1 hero-title slider-reveal">
              Desarrollo Adaptativo e Integración de Software
              <!-- Flavors Inspired by <br>
              the Seasons -->
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Descubre cómo el desarrollo adaptativo impulsa la innovación constante.
            </p>

            <div class="credits slider-reveal">
              <span class="developer slider-reveal"><i><b>Desarrollador:</b></i> Anthony Cristhian Avellaneda Paitán 👨🏻‍💻</span>
              <span class="teacher slider-reveal"><i><b>Docente:</b></i> Carlos Alberto Janjachi Toribio 👨🏻‍🏫</span>
            </div>

            <a routerLink="/blog" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Blog</span>

              <span class="text text-2" aria-hidden="true">View Our Blog</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="./assets/images/slider/slider-3.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">Sincronización Perfecta</p>

            <h1 class="display-1 hero-title slider-reveal">
              Desarrollo Adaptativo e Integración de Software
              <!-- Where every flavor <br>
              tells a story -->
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Integración de software: La clave para un funcionamiento armonioso.
            </p>

            <div class="credits slider-reveal">
              <span class="developer slider-reveal"><i><b>Desarrollador:</b></i> Anthony Cristhian Avellaneda Paitán 👨🏻‍💻</span>
              <span class="teacher slider-reveal"><i><b>Docente:</b></i> Carlos Alberto Janjachi Toribio 👨🏻‍🏫</span>
            </div>

            <a routerLink="/blog" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Blog</span>

              <span class="text text-2" aria-hidden="true">View Our Blog</span>
            </a>

          </li>

        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <a routerLink="/blog" class="hero-btn has-after">
          <img src="./assets/images/hero-icon.png" width="48" height="48" alt="booking icon">

          <span class="label-2 text-center span">View Our Blog</span>
        </a>

      </section>
