<app-navbar></app-navbar>

<!-- 
        - #HERO
      -->

      <section class="hero-about" aria-label="home">
        <div class="container-about">

          <div class="hero-content">

            <p class="hero-subtitle">Hello Everyone!</p>

            <h1 class="headline headline-1 section-title">
              I’m <span class="span">Anthony Avellaneda</span>
            </h1>

            <p class="hero-text">
              Systems Engineering student with a passion for solving problems using technology. I love learning new things and working in a team, and I like to contribute ideas and create a collaborative environment.
            </p>

            <div class="input-wrapper">

              <input type="email" name="email_address" placeholder="Type your email address" required
                class="input-field-about" autocomplete="off">

              <button class="btn-about btn-primary">
                <span class="span">Subscribe</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </button>

            </div>

          </div>

          <div class="hero-banner">

            <img src="./assets/images/autores/bottomless_main_author.png" width="327" height="490" alt="Anthony Avellaneda" class="w-100">

            <img src="./assets/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape-about shape-1">

            <img src="./assets/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape-about shape-2">

          </div>

          <img src="./assets/images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">

          <img src="./assets/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">

        </div>
      </section>

<app-footer></app-footer>