<!-- 
    - #TOP BAR
  -->

  <div class="topbar">
    <div class="container">

      <address class="topbar-item">
        <div class="icon">
          <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">
          Av. Túpac Amaru 210, Rímac 15333. Lima - Perú.
        </span>
      </address>

      <div class="separator"></div>

      <div class="topbar-item item-2">
        <div class="icon">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">Diario: 8.00 am - 10.00 pm</span>
      </div>

      <a href="tel:+51923946801" class="topbar-item link">
        <div class="icon">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">+51 923 946 801</span>
      </a>

      <div class="separator"></div>

      <a href="mailto:anthony.avellaneda.p@uni.pe" class="topbar-item link">
        <div class="icon">
          <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
        </div>

        <span class="span">anthony.avellaneda.p@uni.pe</span>
      </a>

    </div>
  </div>





  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="./assets/images/favicon/logo.png" width="160" height="50" alt="Desarrollo Adaptativo - Home" style="zoom: 1.15;">
      </a>

      <nav class="navbar" data-navbar>

        <button class="close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="./assets/images/favicon/logo.png" width="160" height="50" alt="Desarrollo Adaptativo - Home" style="zoom: 1.15;">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a class="navbar-link hover-underline scroll-up" routerLink="/desarrollo-adaptativo"  routerLinkActive="active">
              <div class="separator"></div>

              <span class="span">Home</span>
            </a>
          </li>

          <!-- <li class="navbar-item">
            <a href="#menu" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Menus</span>
            </a>
          </li> -->

          <li class="navbar-item" routerLink="/about">
            <a routerLink="/about" routerLinkActive="active"class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">About Me</span>
            </a>
          </li>

          <li class="navbar-item" *ngIf="!showBlogDetail()">
            <a routerLink="/blog" routerLinkActive="active" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Blog</span>
            </a>
          </li>

          <li class="navbar-item" *ngIf="showBlogDetail()">
            <a routerLink="/blog-detail/{{id}}" routerLinkActive="active" class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Blog Detail</span>
            </a>
          </li>

          <li class="navbar-item">
            <a routerLink="/contact" routerLinkActive="active"class="navbar-link hover-underline">
              <div class="separator"></div>

              <span class="span">Contact</span>
            </a>
          </li>

        </ul>

        <div class="text-center">
          <p class="headline-1 navbar-title">Visit Us</p>

          <address class="body-4">
            Av. Túpac Amaru 210, Rímac 15333. <br>
            Lima - Perú.
            <!-- Restaurant St, Delicious City, <br>
            London 9578, UK -->
          </address>

          <!-- <p class="body-4 navbar-text">Open: 9.30 am - 2.30pm</p> -->

          <a href="mailto:anthony.avellaneda.p@uni.pe" class="body-4 sidebar-link">anthony.avellaneda.p@uni.pe</a>

          <div class="separator"></div>

          <p class="contact-label">Contac Us</p>

          <a href="tel:+51923946801" class="body-1 contact-number hover-underline">
            +51 923 946 801
          </a>
        </div>

      </nav>

      <a routerLink="/blog" class="btn btn-secondary">
        <span class="text text-1">Explore</span>

        <span class="text text-2" aria-hidden="true">Explore</span>
      </a>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler (click)="toggleNavbar()">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>


  <!-- 
    - #BACK TO TOP
  -->

  <a href="" class="back-top-btn active scrollup" aria-label="back to top" data-back-top-btn (click)="scrollUp($event)">
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>